{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block content %}
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">{{ hospital_detail }}</h1>
                {% if hospital_detail.photo %}
                <img src="{{hospital_detail.photo.url}}" alt="photo" height="300px" width="600px">
                {% endif %}
                <table class="table">
                    <tr>
                        <th>Терапевт/Хирург</th>
                        <th>ФИО</th>
                        <th>ПИН</th>
                        <th>Дата рождения</th>
                        <th>Больница</th>
                        <th>Медсестра</th>
                    </tr>
                    {% for doctor in doctor_detail %}
                    <tr>
                        <td>{{ doctor.position }}</td>
                        <td>{{ doctor.name }}</td>
                        <td>{{ doctor.pin }}</td>
                        <td>{{ doctor.birthdate }}</td>
                        <td>{{ doctor.hospital }}</td>
                        <td>{{ doctor.nurse }}</td>
                    </tr>
                    {% endfor %}
                    {% if request.user.is_authenticated %}
                </table>
                <a type="submit" href="{% url 'addDoctor' %}" class="btn btn-primary my-2">Добавить Доктора</a>
                <!-- <button type="submit" href="#" class="btn btn-primary my-2">Добавить Доктора</button> -->
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock %}